@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@tailwind utilities;

@font-face {
    font-family: "Departure Mono";
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@layer base {
    html {
        font-family: Departure Mono, system-ui, monotype;
    }
    h4 {
        @apply uppercase font-bold mb-0;
    }
}

html {
  scroll-behavior: smooth;
}


.all-prose {
  @apply prose prose-lg lg:prose-xl;
}
